/* PHASE 7: Online */
.online {
  position: absolute;
  top: -10px;
  left: -10px;
  display: block;
  background: #00cc00;
  color: white;
  text-transform: uppercase;
  padding: 5px 30px;
  box-shadow: 0 1px 0 0 #070;
  transform: rotate(-45deg) translateX(-25%);
  font-size: 12px;
  letter-spacing: 3px;
  font-weight: 700;
}

.profile-picture {
  overflow: hidden;
}